.row-header{
    margin: 0px auto;
    padding: 0px auto;
}

.row-content{
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
}


.footer{
    background-color: #d1c4e9;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
}

/*
    Add my style to the bootstrap's class .jumbotron
*/
.jumbotron{
    padding: 70px 30px 70px 30px;
    margin: 0px auto;
    background: #9575cd;
    color: floralwhite;  /* text color */
}


.address{
    font-size: 80%;
    margin: 0px;
    color: #0f0f0f;
}

/*
    Added padding so that the navigation bar doesn't cover 
    the top part of the body
'*/
body{ 
    padding: 50px 0px 0px 0px;
    z-index: 0;
}

.navbar-dark{
    background: #512DA8;
}

/*
    Used into about us to use a border around the tab contents
*/
.tab-content{
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

/*
    Carousel background
*/
.carousel{
    background: #512DA8;
}

.carousel-item{
    height: 300px;
}
/*  
    Carousel: an image is displayed to the top left edge of the carousel box
*/
.carousel-item img{
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}

/*
    Carousel: shift the pause and play icons with id=carouselButton
*/
#carouselButton {
    right: 0px;
    position: absolute;
    bottom: 0px;
}